#ifndef ${UPPERCASE}_HPP
#define ${UPPERCASE}_HPP

class ${NAME}
{
 public:
  ${NAME}();
  ${NAME}(const ${NAME}& ${FIRST_LOWER});
  virtual ~${NAME}();

  ${NAME}& operator = (const ${NAME}& ${FIRST_LOWER});
};

#endif
